@font-face {
  font-family: 'Roboto';
  src: local('Roboto Thin'), local('Roboto-Thin'), url('fonts/Robotothin.woff2') format('woff2'), url('fonts/Robotothin.woff') format('woff'), url('fonts/Robotothin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: local('Roboto Light'), local('Roboto-Light'), url('fonts/Robotolight.woff2') format('woff2'), url('fonts/Robotolight.woff') format('woff'), url('fonts/Robotolight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: local('Roboto Bold'), local('Roboto-Bold'), url('fonts/Robotobold.woff2') format('woff2'), url('fonts/fonts/Robotobold.woff') format('woff'), url('fonts/Robotobold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
}
.i-want-button {
  border: #fc635e solid 2px;
  color: #fc635e;
  text-decoration: none;
  padding: 12px 28px;
  text-align: center;
  border-radius: 8px;
  transition: 0.3s;
}
.i-want-button:hover {
  background: #fc635e;
  color: white;
  transition: 0.3s;
}
h2 {
  font-size: 30px;
  text-transform: uppercase;
  justify-content: center;
  text-align: center;
}
h2 span {
  color: #fc635e;
}
h4 {
  text-transform: uppercase;
  display: inline-block;
  position: relative;
}
h4:before {
  display: block;
  content: "";
  height: 2px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background: #686767;
}
h2,
h3,
h4 {
  color: #686767;
}
.bot-header-white {
  display: flex;
  justify-content: center;
}
.bot-header-white a {
  color: #fc635e;
  text-decoration: none;
  transition: 0.3s;
  border: 2px solid #fc635e;
  font-size: 25px;
  border-radius: 50%;
  background: none;
  display: flex;
  justify-content: center;
  width: 35px;
  height: 35px;
}
.bot-header-white a:hover {
  transition: 0.3s;
  background: #fc635e;
  color: white;
}
.bot-header-red {
  display: flex;
  justify-content: center;
}
.bot-header-red a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
  border: 2px solid #fc635e;
  font-size: 25px;
  border-radius: 50%;
  background: #fc635e;
  display: flex;
  justify-content: center;
  width: 35px;
  height: 35px;
}
.bot-header-red a:hover {
  transition: 0.3s;
  background: none;
}
.hidden {
  display: none !important;
}
body {
  font-family: 'Roboto';
  font-weight: 700;
  max-width: 1800;
  margin-top: 0;
}
body p {
  font-family: 'Roboto';
  font-weight: 100;
}
body header {
  background: url('../img/background.png') no-repeat center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  min-height: 600px;
  justify-content: space-around;
}
body header nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
body header nav a {
  color: white;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
}
body header nav a img {
  padding-right: 15px;
  vertical-align: middle;
}
body header nav .logo:hover img {
  opacity: 0.7;
  transition: 0.3s;
}
body header nav menu {
  padding: 0px;
  list-style: none;
  text-transform: uppercase;
  display: flex;
}
body header nav menu li {
  padding-left: 15px;
}
body header nav menu li a {
  color: white;
  font-size: 20px;
  transition: 0.2s;
  text-decoration: none;
}
body header nav menu li a:hover {
  color: #fc635e;
  transition: 0.2s;
  border-bottom: #fc635e solid 6px;
  padding-bottom: 3px;
}
body header .main-text {
  color: white;
  text-align: center;
}
body header .main-text h2 {
  font-size: 40px;
  color: white;
  display: flex;
  text-align: center;
}
body header .main-text div {
  display: flex;
  justify-content: center;
}
body header .main-text p {
  max-width: 450px;
  margin-bottom: 40px;
  margin-top: 30px;
}
body .block_1 {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 600px;
  padding-left: 10rem;
  padding-right: 10rem;
  font-size: 20px;
}
body .block_1 .subtitle {
  display: flex;
  justify-content: space-around;
}
body .block_1 .subtitle p {
  font-size: 18px;
  width: 600px;
  text-align: center;
}
body .block_1 h2 {
  text-decoration: underline;
}
body .block_1 .base_content {
  display: flex;
  justify-content: space-around;
}
body .block_1 .base_content div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-right: 20px;
  padding-left: 20px;
  width: 300px;
  height: 350px;
}
body .block_1 .base_content div img {
  width: 100px;
}
body .block_1 .base_content div p {
  font-size: 17px;
  text-align: center;
}
body .block_2 {
  background: url('../img/expand.png') no-repeat center;
  background-size: cover;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  min-height: 800px;
  padding-left: 10rem;
  padding-right: 10rem;
}
body .block_2 .border {
  border: 8px solid rgba(255, 255, 255, 0.2);
  min-height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
body .block_2 h2 {
  display: flex;
  justify-content: center;
  color: white;
}
body .block_2 div {
  display: flex;
  justify-content: center;
  text-align: center;
}
body .block_3 {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 800px;
  align-items: center;
}
body .block_3 .subtitle {
  display: flex;
}
body .block_3 .subtitle p {
  font-size: 18px;
  width: 600px;
  text-align: center;
}
body .block_3 h2 {
  text-decoration: underline;
}
body .block_3 .steps {
  height: 600px;
  width: 1200px;
  background: url('../img/ourprocess.png') no-repeat center;
  justify-content: space-around;
}
body .block_3 .steps div {
  width: 150px;
  flex-direction: column;
  text-align: center;
  position: absolute;
}
body .block_3 .steps div h4 span {
  color: #fc635e;
}
body .block_3 .steps div p {
  padding-top: 10px;
  font-size: 14px;
}
body .block_3 .steps .step1 {
  margin-left: 230px;
  margin-top: 167px;
}
body .block_3 .steps .step2 {
  margin-left: 496px;
  margin-top: 214px;
}
body .block_3 .steps .step3 {
  margin-left: 581px;
  margin-top: 67px;
}
body .block_3 .steps .step4 {
  margin-left: 791px;
  margin-top: 185px;
}
body #block_4 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 1450px;
  background-color: rgba(215, 216, 217, 0.556);
}
body #block_4 h2 {
  text-decoration: underline;
}
body #block_4 .wedo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  min-height: 400px;
  padding-left: 15%;
  padding-right: 15%;
}
body #block_4 .wedo div {
  flex-direction: column;
  display: flex;
  justify-content: flex-start;
  padding-right: 40px;
  padding-left: 40px;
  margin: auto;
}
body #block_4 .wedo div h4 {
  border-left: #fc635e solid 10px;
  padding-left: 10px;
}
body #block_4 .wedo div h4::before {
  display: none;
}
body #block_4 .wedo div p {
  padding-top: 30px;
  padding-bottom: 30px;
}
body #block_4 .wedo div a {
  border: #fc635e solid 2px;
  color: white;
  text-decoration: none;
  padding: 12px 28px;
  text-align: center;
  max-width: 150px;
  border-radius: 8px;
  transition: 0.3s;
  background: #fc635e;
}
body #block_4 .wedo div a:hover {
  background: none;
  color: #fc635e;
  transition: 0.3s;
}
body #block_4 .wedo__2 {
  background-color: white;
}
body #block_5 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
body #block_5 h2 {
  text-decoration: underline;
  padding-bottom: 20px;
}
body #block_5 .container {
  margin-left: 20%;
  margin-right: 20%;
}
body #block_5 .filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 20px;
  border-top: 2px solid #e4e4e4;
  border-bottom: 2px solid #e4e4e4;
}
body #block_5 .filter button {
  letter-spacing: 2px;
  color: #fc635e;
  background: transparent;
  border: none;
  text-transform: uppercase;
  font-size: 16px;
}
body #block_5 .filter button:hover {
  color: black;
  cursor: pointer;
}
body #block_5 .i-want-btn {
  margin-top: 30px;
  margin-bottom: 30px;
}
body #block_5 .content {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
}
body #block_5 .content .pct1 {
  background-image: url('../img/1.png');
}
body #block_5 .content .pct2 {
  background-image: url('../img/2.png');
}
body #block_5 .content .pct3 {
  background-image: url('../img/3.png');
}
body #block_5 .content .pct4 {
  background-image: url('../img/4.png');
}
body #block_5 .content .pct5 {
  background-image: url('../img/5.png');
}
body #block_5 .content .pct6 {
  background-image: url('../img/6.png');
}
body #block_5 .content .pct7 {
  background-image: url('../img/7.jpg');
}
body #block_5 .content .pct8 {
  background-image: url('../img/8.webp');
}
body #block_5 .content .pct9 {
  background-image: url('../img/9.webp');
}
body #block_5 .content .pct10 {
  background-image: url('../img/10.webp');
}
body #block_5 .content .two-part {
  flex-shrink: 2;
}
body #block_5 .content .project {
  flex-grow: 2;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  margin: 5px;
  width: 200px;
  height: 200px;
  transition: 0.3s;
}
body #block_5 .content .project:hover .fil {
  display: block;
  cursor: pointer;
}
body #block_5 .content .project .fil {
  position: absolute;
  z-index: 2;
  background-color: #fc635e;
  display: block;
  box-sizing: border-box;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 300;
  color: white;
  position: relative;
  height: 100%;
  background: url('../img/plus.png') #fc635e;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 10px;
  display: none;
  transition: 0.3s;
}
